@import '../fonts/init.css';

#total {
	text-align: center;
}

#total img {
	width: 100%;
	max-width: 476px;
	height: auto;
}

#total h1,
#total h2 {
	color: #333;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	
	font-weight: normal;
}
#total h1 {
	font-family: 'GothamRounded-Medium';
	font-size: 22px;
}
#total h2 {
	font-family: 'GothamRounded-Book';
	font-size: 19px;
}

@media (min-width: 768px) {
	#total h1 {
		font-size: 24px;
	}
	#total h2 {
		font-size: 21px;
	}
}
